.hot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot-header {
  display: flex;
  flex-direction: column;
}

.hot-body {
  display: flex;
  flex-direction: column;
}

.hot-take-vote {
  display: flex;
  flex-direction: row;
}

.hot-span-vote {
  display: flex;
  border-radius: 15px;
  background-color: #C5D6BF;
  max-width: 50%;
  min-width: 50%;
  padding: 5px;
  justify-content: right;
  align-self: center;
}

.hot-take-vote {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.votes-column-headers{
  display: flex;
  justify-content: space-around;
}

.voter-full-name{
  padding: 5px;
}

.submit-votes-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
