.hot-header {
  display: flex;
  flex-direction: column;
}

.hot-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

input, textarea {
  color: black;
  background-color: #C5D6BF;
  border-radius: 10px;
  border-style: none;
  min-width: 100px;
  width: 350px;
  padding: 10px;
  font-family: var(--font-my-font);
}

input:focus,  textarea:focus{
  border-style: none;
  outline: none;
  padding: 10px;
}

#hot_take_input {
  /* max-height: 100px; */
  height: 80px;
}

#hot_take_name {
  max-height: 35px;
  height: 70px;
}

span {
  margin: 5px 0;
}

button {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #C5D6BF;
  font-family: var(--font-my-font);
  margin: 15px 0;
}

/* button:hover {
  background-color: #ADBEA7;
  cursor: pointer;
} */

hr#submit-hr {
  margin: 10px;
  border: 1px solid white;
  border-radius: 15px;
  width: 50%;
}

span#warnings {
  display: flex;
  justify-content: center;
  color: black;
}

