#resultsrows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}

#columnheaders{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10%;
    padding-left: 2%;
}
span.headers {
    color: white;
    background-color: none;
}

span {
    padding: 15px;
    font-weight: 600;
    display: flex;
    align-self: center;
    justify-content: center;
}

span.values {
    min-width: 20%;
    border-radius: 15px;
    background-color: #C5D6BF;
}

span.percent {
    min-width: 10%;
    border-radius: 15px;
    background-color: #C5D6BF;
}

span.hotTake {
    border-radius: 15px;
    background-color: #C5D6BF;
    max-width: 50%;
    min-width: 50%
}

div#data-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
